.red {
  color: red;
}

.green {
  color: green;
}

.loading-container {
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.twelve.columns h3 {
  padding-top: 40px;
}
